<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Documents</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Document's page</h1>
        
       
                <p th:text= ${subfolder}> subFolder</p>
                        <ul th:each="document : ${documents}" >
							 <li> <span th:text= ${document.DocumentName}>document</span> 
							 	   <a th:href="@{/GetDetails(DocumentName=${document.DocumentName},SubFolderName=${document.SubFolderName},FolderName=${document.FolderName})}"> >accedi </a>
							      <a th:href="@{/GetFoldersAndSubFolders(DocumentName=${document.DocumentName},SubFolderName=${document.SubFolderName},FolderName=${document.FolderName})}">   >sposta </a>
							 </li>
					     
					    </ul>
					    <a th:href="@{/GetFoldersAndSubFolders}">Go to home page</a>
					    
                                
      
</body>
</html>