<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Document details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Document' details</h1>

                <p th:text= ${document.DocumentName}> document</p>
                <p th:text= ${document.Date}> document</p>
                <p th:text= ${document.Summary}> document</p> 
                <p th:text= ${document.Type}> document</p>   
                
				<a th:href="@{/GetFoldersAndSubFolders}">Go to home page</a>

</body>
</html>
