<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>choices page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Stai spostando il documento X dalla sottocartella Y. Scegli la sottocartella di destinazione</h1>
        
        <div th:each="folder : ${folders}">
                <p th:text= ${folder.name}>folder</p>
                        <ul th:each="subfolder:${fsubfolders.get(folder.id)}"  >
						     <li th:if="${subfolder.id == document.subfolderid}"><span th:text= ${subfolder.name}> subFolder</span></li>
					         <li th:unless="${subfolder.id == document.subfolderid}">
					         <a th:href="@{/GetChoices(subFolderid=${subfolder.id}, documentid = ${document.id})}">
					         <span th:text= ${subfolder.name}> subFolder</span>
					         </a></li>
					         
					         
	                        
					    </ul>
                                
        </div>
</body>
</html>